%@ page language="java" contentType="text/html; charset=ISO-8859-1"
	pageEncoding="ISO-8859-1"%>
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>eLoan system</title>
<style>   
body {  
  font-family: Calibri,sans-serif;  
  background-color: lightblue;  
}  

input[type=submit] {   
       background-color: #4CAF50;   
       width: 100%;  
        color: blue;   
        padding: 15px;   
        margin: 10px 0px;   
        border: none;   
        cursor: pointer;   
         }   
 form{   
        border: 3px solid #f1f1f1;   
    }   
 input[type=text], input[type=password] {   
        width: 100%;   
        margin: 8px 0;  
        padding: 12px 20px;   
        display: inline-block;   
        border: 2px solid green;   
        box-sizing: border-box;   
    }  

 .container {   
        padding: 25px;   
        background-color: lightblue;  
    }   
    </style>
</head>